.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px; /* Зазор між картками */
  margin-top: 25px;
  align-items: end;
}
.item {
  position: relative;
  padding: 2px;
}
.defaultImage {
  margin-bottom: 50px;
}
.caption {
  position: absolute;
  bottom: 0; /* Розміщуємо назву фільму у нижній частині */
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 7px;
  text-align: center;
  margin: 2px;
}
