.title {
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 30px;
  max-width: 450px;
}
.textWrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  margin-bottom: 25px;
  align-items: center;
  flex-wrap: wrap;
}
.text,
.seconds {
  font-size: 20px;
}
.text {
  color: rgb(21, 45, 21);
  background-color: #ffffff78;
}

.seconds {
  color: rgb(246, 255, 0);
  font-weight: 700;
  font-size: 30px;
}

.img {
  margin-top: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .img {
    top: 20px;
    height: 90vh;

    position: relative;
  }
  .textWrap {
    position: absolute;
    top: 245px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1111;
    gap: 8px;
    min-width: 700px;
  }
  .text,
  .seconds {
    font-size: 25px;
  }
  .title {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1111;
    font-size: 35px;
    min-width: 500px;
    max-width: 750px;
  }
  .seconds {
    color: rgb(15, 117, 212);
    font-size: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .textWrap {
    top: 290px;
    gap: 10px;
  }
  .text,
  .seconds {
    font-size: 35px;
  }
  .title {
    font-size: 45px;
    top: 130px;
  }
  .seconds {
    font-size: 50px;
  }
}
